body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

.thread {
  width: 3px;
  background-color: #fff;
  margin-left: 1rem;
}

.thread:hover {
  background-color: #ff3d00;
  cursor: pointer;
}

.showComments {
  cursor: pointer;
}
