<form class="card mt-4" action="/api/user/forgot" method="POST">
  <div class="card-header">
    <h5 class="mb-0">Reset Password</h5>
  </div>
  <div class="card-body">
    <div class="form-group">
      <label for="email">Email</label>
      <input
        type="email"
        class="form-control"
        id="email"
        name="email"
        placeholder="Enter email..."
      />
    </div>
    <button type="submit" class="btn btn-primary">
      Request Password Change
    </button>
  </div>
</form>
